.main {
    padding-left: 100pt;
    padding-right: 100pt;
}

@media (max-width: 980px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
}

img {
    margin: 10px;
}

.header h1 {
    font-size: 40pt;
    color: red;
}

h2 {
  font-size: 140%;
}

.header a:hover {
    text-decoration: none;
}

body {
/*     background-image: url("/images/img-003.jpg"); */
}

p, li {
    font-size: 100%;
}

p::first-line {
    padding-left: 10pt;
}

/* table of contents */
a.top {
    top: 0px;
    right: 40px;
}

.toc-wrapper {
    top: 40px;
    right: 40px;
    width: 120pt;
}

.toc-wrapper li {
    font-size: 100%;
}

#markdown-toc {
    padding: none;
    margin: none;
    list-style: none;
}

.toc-wrapper a, a.top {
    display: block;
    padding: 5px;
}

.toc-wrapper a:hover, a.top:hover {
    background-color: #eee;
    text-decoration: none;
}
