<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <!-- Custom theme -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header" class="container header">
      <nav class="navbar navbar-dark bg-inverse">
          <a href="/"><h1>Баскунчак</h1></a>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Главная</a></li>
            <li><a href="lake.html">Озеро</a></li>
            <li><a href="mountain.html">Гора Богдо</a></li>
            <li><a href="flats.html">Квартиры</a></li>
            <li><a href="way.html">Как добраться</a></li>
          </ul>
        </nav>
      </div>
      <div id="main" class="container main">
        {{ content }}
      </div>
    </div>
    <a class="top affix" href="#">/\</a>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
